.planhead {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 210px;
    padding: 0.5rem 3rem;
}

.planhead h2 {
    font-size: 2rem;
    display: block;
    text-align: center;
    font-weight: 700;
    line-height: 1;
}

@media (min-width: 768px) {
    .planhead {
        padding: 0.5rem 6rem;
        height: 240px;
    }

    .planhead h2 {
        font-size: 3rem;
        font-weight: 700;
    }
  }