.items {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  gap: 10px;
}

.csection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 1rem 3rem;
  background-color: #041836;
  align-items: center;
}

.csection h2 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  align-items: center;
}

.csection h3 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8em;
  letter-spacing: 1px;
  margin-top: 0;
  text-align: center;
  align-items: center;
}

.cta {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .csection {
    gap: 10px;
    height: 540px;
    padding: 1rem 6rem;
  }

  .csection h2 {
    font-size: 62px;
  }

  .items {
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    gap: 18px;
  }
}
